@import url('matter.font.css');
@import url('general-sans.font.css');

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thin-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: rgba(152, 152, 255, 0.10) rgba(152, 152, 255, 0.10);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(152, 152, 255, 0.10);
}