@import url('matter.font.css');
@import url('general-sans.font.css');

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.thin-scrollbar::-webkit-scrollbar {
    width: 3px;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.thin-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
}