@font-face {
    font-family: "Matter";
    src: local("MatterBold"),
    url("fonts/matter/matter-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("MatterBoldItalic"),
    url("fonts/matter/matter-bolditalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: local("MatterRegular"),
    url("fonts/matter/matter-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("MatterRegularItalic"),
    url("fonts/matter/matter-regularitalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: local("MatterLight"),
    url("fonts/matter/matter-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("MatterLightItalic"),
    url("fonts/matter/matter-lightitalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: local("MatterMedium"),
    url("fonts/matter/matter-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("MatterMediumItalic"),
    url("fonts/matter/matter-mediumitalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Matter";
    src: local("MatterHeavy"),
    url("fonts/matter/matter-heavy.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Matter";
    src: local("MatterHeavyItalic"),
    url("fonts/matter/matter-heavyitalic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}